body {
	background-position: center;
    position: relative;
	background-image: url("images.jpg");
}
form{
	padding: 20px;
	background-color: yellow;
	width: 400px;
	height: 300px;
	margin: auto;
	border: 10px solid pink;
}
input{
	padding: 13px;
	border-width: 10px;
	border-color: pink;
	color: green;
	
}



